:root {
  --background: 0 0% 100%;
  --foreground: 20 14.3% 4.1%;
  --primary: 37.9 85.8% 48.1%;
  --primary-foreground: 26 83.3% 14.1%;
  --muted: 60 4.8% 95.9%;
  --muted-foreground: 25 5.3% 44.7%;
  --border: 12 6.5% 91.1%;
  --card: 12 6.5% 96.5%;
  --card-foreground: 12 6.5% 91.2%;
}

.dark {
  --background: 20 14.3% 9.1%;
  --foreground: 60 9.1% 97.8%;
  --primary: 47.9 95.8% 53.1%;
  --primary-foreground: 26 83.3% 14.1%;
  --muted: 12 6.5% 15.1%;
  --muted-foreground: 24 5.4% 63.9%;
  --border: 12 6.5% 25.1%;
  --card: 12 6.5% 17.1%;
  --card-foreground: 12 6.5% 25.1%;
}

* {
  @apply border-border;
}
