---
import ThemeToggle from '@/components/theme-toggle.astro';
import BrandName from '@/components/brand-name.astro';
import SocialMediaList from '@/components/social-media-list.astro';
import '@/styles/global.css';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="keywords"
      content="Portfolio, Website, CV, CV Resume, Astro, Moises Huaringa, moiseshp"
    />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Portfolio Web" />
    <meta
      property="og:description"
      content="This is a customizable portfolio template built with Astro"
    />
    <meta
      name="image"
      property="og:image"
      content="https://moiseshp.dev/Screenshot-My-Portfolio-Web.png"
    />
    <meta property="og:image:width" content="1790" />
    <meta property="og:image:height" content="1200" />
    <meta property="og:url" content="https://moiseshp.dev" />
    <meta property="og:site_name" content="Portfolio Web" />
    <meta name="author" content="@moiseshp" />
    <meta name="twitter:image" content="https://moiseshp.dev/images/og.png" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:creator" content="@moiseshp" />
    <meta name="twitter:site" content="@moiseshp" />
    <meta name="twitter:title" content="Portfolio Web" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="This is a customizable portfolio template built with Astro"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>My Portfolio web - Moisés Huaringa</title>
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <!-- Set default theme -->
    <script>
      const storedTheme = localStorage.getItem('theme');
      const prefersDark = window.matchMedia(
        '(prefers-color-scheme: dark)',
      ).matches;
      const root = document.documentElement;

      if (storedTheme === 'dark' || (!storedTheme && prefersDark)) {
        root.classList.add('dark');
      } else {
        root.classList.remove('dark');
      }
    </script>
    <!-- Google tag (gtag.js) -->
    <script
      async
      is:inline
      src="https://www.googletagmanager.com/gtag/js?id=G-4CZH6B6CVY"></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'G-4CZH6B6CVY');
    </script>
  </head>
</html>
<body
  class="flex min-h-screen flex-col bg-background font-sans text-foreground antialiased"
>
  <header
    class="container sticky top-0 z-10 flex max-w-3xl items-center justify-between bg-background px-3 py-6 lg:px-0"
  >
    <BrandName />
    <nav class="flex items-center space-x-1">
      <SocialMediaList />
      <ThemeToggle />
    </nav>
  </header>
  <main class="container max-w-3xl flex-grow px-5 lg:px-0">
    <slot />
  </main>
  <footer class="container max-w-3xl px-5 py-6 text-sm lg:px-0">
    © {new Date().getFullYear()} Moisés Huaringa
  </footer>
</body>
